.meal-item {
  list-style-type: none;
  height: 250px;
  width: 250px;
  border: 1px solid orange;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  text-align: center;

  img {
    width: 150px;
  }

  h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}