.navigation-list {
  display: flex;
  flex-direction: column;

  li {
    list-style-type: none;

    a {
      text-decoration: none;
      margin: 0 10px;
      color: lightblue;

      &.active {
        color: dodgerblue;
      }
    }
  }
}