* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: 75px auto 0 auto;
}

hr {
    margin-top: 10px;
}

nav {
    background-color: #333333;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    display: block;
    border-right: 1px solid white;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    transition: background-color 0.5s ease;
}

nav ul li a:hover {
    background-color: #429046;
}

.active {
    background-color: #50AE55;
}

.box-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.box-add label {
    color: #e13838;
    font-size: 1.4em;
    margin-top: 5px;
}

.box-add input, .box-add textarea {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #0F7F12;
    border-radius: 10px;
    margin-top: 35px;
    padding-left: 10px;
    font-size: 1.4em;
}

.box-add textarea {
    height: 75px;
    padding-top: 10px;
    resize: none;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    background-color: #5CA85E;
    border: 1px solid #0F7F12;
    width: 100px;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 1.5em;
    margin: 15px;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #0F7F12;
    border: 1px solid #5CA85E;
}

.phone-list {
    width: 50%;
    margin-top: 10px;
}

.section-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone-box {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding: 20px 15px;
    cursor: pointer;
}

.phone-box:hover {
    background-color: #569f56;;
}

.phone-box div {
    align-self: center;
}

.phone-box h1 {
    font-size: 1.8em;
    font-weight: 700;
}

.phone-box h3 {
    font-size: 1.4em;
    font-weight: 200;
}

.phone-active {
    background-color: #9CCA9D;
}

.phone-card {
    width: 40%;
    margin-top: 10px;
    border: 1px solid #000000;
    background-color: #E7F2E7;
    height: 100%;
    padding: 15px 55px;
}

.phone-card h1 {
    font-size: 3.4em;
    font-weight: bolder;
    margin: 10px 0;
}

.phone-card h3 {
    margin: 10px 0;
}

.phone-card h3 span{
    font-size: 2em;
    margin-left: 15px;
    font-weight: 200;
}

.phone-card h4 {
    margin-top: 30px;
    font-size: 1.6em;
    font-weight: 200;
}