### JetBrains template
##  git config --global core.excludesfile .gitignore
###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

# read 
/src/main/resources/application.yml

*.iml
*.json

.idea/*
.idea/
out/
debug/
/19-08-Phonebook/font-awesome-4.7.0

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

*.class
*.jar
*.war
*.ear
*.tmp
*.exe

thumbs.db
.DS_Store
*.log

test/
target/generated-sources/
target/
/.classpath
/.project
.settings/


#x-code
*.xcodeproj