* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    position: relative;
    background-color: #f57373;
    height: 100vh;
    min-height: 100%;
}