* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvet, sans-serif;

}

ul {
    list-style: none;
}

header {
    background: url('./assets/bg.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    color: white;
    position: relative;
}

.container {
    width: 860px;
    height: 100%;
    margin: 0 auto;
}

nav {
    padding: 30px 0;
    overflow: hidden;
}

nav img{
    float: left;
    width: 75px;
}

#top ul {
    position: fixed;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

#top ul li{
    display: inline-block;
    width: 110px;
    padding: 15px 0;
}

#top ul li a{
    padding: 0 15px;
    text-decoration: none;
    color: white;
}

#top ul li:hover{
    background-color: rgba(0,0,0,0.6);
}

.drop-list ul {
    display: none;
    width: 110px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    margin-top: 15px;
}

.drop-list ul li{
    padding-left: 10px;
}

ul li:hover ul {
    margin-right: 113px;
    display: block;
    cursor: pointer;
}

.area-info {
    margin-top: 100px;
    text-align: center;
    line-height: 1.6;
}

.area-info h1 {
    text-transform: uppercase;
    font-weight: 300;
}

.area-info p {
    width: 70%;
    line-height: 1.2;
    margin: 0 auto;
}

.buttons {
    margin: 20px 0;
}

.btn {
    color:white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 25px;
}

.btn:hover {
    border-color: white;
}

.btn-more {
    background-color: rgba(255, 165, 0, 0.7);
}

.btn-more:hover {
    background-color: rgba(255, 165, 0, 1);
    border: 1px solid white;
}

.btn img {
    margin-right: 5px;
    vertical-align: middle;
}

.btn span {
    vertical-align: middle;
}

.contact-massage {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 165, 0, 0.7);
}

.contact-massage:hover{
    border: 1px solid #fff;
    cursor: pointer;
    background-color: rgba(255, 165, 0, 1);
}

#middle {
    position: relative;
    height: 100%;
    max-height: 800px;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
}

.main-section-1 {
    position: relative;
    width: 65%;
    height: 700px;
    margin: 0 auto;
    background-color: chartreuse;
}

.info {
    position: absolute;
    height: 100%;
    left: -60px;
    top: 20%;
}

.info h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 55px auto;
}

.info p {
    font-size: 20px;
    margin-bottom: 70px;
}

.info-img{
    position: absolute;
    margin-top: 45px;
    height: 600px;
    width: 500px;
    right: -60px;
}

.btn-learn {
    display: block;
    text-decoration: none;
    color: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
}

.btn-learn:hover {
    background-color: rgba(0,0,0,0.9);
}

/*#sport {*/
/*    position: relative;*/
/*    background-color: #fff;*/
/*    height: 100vh;*/
/*    max-height: 800px;*/
/*    width: 100%;*/
/*    margin-top: 50px;*/
/*}*/

/*.top-info div, .circle{*/
/*    display: inline-block;*/
/*}*/

/*.circle {*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background-color: darkturquoise;*/
/*    border-radius: 50%;*/
/*}*/

/*.circle div {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    background-color: #fff;*/
/*    border-radius: 50%;*/
/*}*/

/* Sport section */
.sport .container{
    position: relative;
    margin-top: 50px;
    height: 1000px;
    color: #fff;

}

.circle{
    width: 200px;
    height: 200px;
    position: relative;
    top: 270px;
    margin-right: 50px;
    border: 40px solid #20baca;
    border-radius: 50%;
    display: inline-block;
}

.text-box{
    background-color: #20baca;
    padding: 30px 50px 90px;
    width: 60%;
    display: inline-block;
    position: absolute;
    right: 30px;
    height: 470px;
}

.text-box h2{
    font-size: 2.9rem;
    line-height: 1.1;
    margin-bottom: 30px;
}

.text-box p{
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 20px;
}

.image-link{
    font-style: italic;
    font-size: 0.8rem;
}

.image-link span{
    border-bottom:1px solid white ;
    cursor: pointer;
}

.text-box button{
    padding: 10px 40px;
    background-color: #fff;
    color: #20baca;
    text-transform: uppercase;
    border: 0;
    font-weight: 600;
    letter-spacing: .2rem;
}

.main-img{
    position: relative;
    width: 480px;
    height: 480px;
    background: url('./assets/try-min.jpeg');
    border-radius: 50%;
    background-size: cover;
    top:140px;
    left:20px;
    box-shadow: 8px 8px 5px rgba(45,45,45, 0.3);

}

.solid-circle{
    width: 150px;
    height: 150px;
    background-color: #20baca;
    border-radius: 50%;
    position: absolute;
    right: 340px;
    top:340px;
}

.small-img{
    width: 260px;
    height: 260px;
    position: absolute;
    top:280px;
    right: -120px;
    background-image: url('./assets/sdfee.jpeg');
    background-size: cover;
    border: 16px solid #20baca;
    border-radius: 50%;
    box-shadow: 8px 8px 5px rgba(45,45,45, 0.3);
}