::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-head-);
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.w-container {
    width: 1000px !important;
}

.m-top-60 {
    margin-top: 60px;
}

/* animation loading page start */
.loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    animation: load 5s ease-in-out forwards;
}

.loader {
    max-width: 15rem;
    width: 100%;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    animation: preloader 3s ease-in-out;
    transform-origin: 170px 170px;
}

circle:nth-of-type(1) {
    animation-delay: -0.15s;
    stroke-dasharray: 550px;
}

circle:nth-of-type(2) {
    animation-delay: -0.3s;
    stroke-dasharray: 500px;
}

circle:nth-of-type(3) {
    animation-delay: -0.45s;
    stroke-dasharray: 450px;
}

circle:nth-of-type(4) {
    stroke-dasharray: 300px;
    animation-delay: -0.6s;
}

@keyframes preloader {
    50% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

/* animation loading page end */
