.post {
  text-align: left;
  border: 1px solid black;
  margin: 10px 0;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0,0,0,0.2);
  }

  .comment-info {
    background-color: blue;
    width: 100px;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    text-align: right;

    span {
       margin-right: 10px;
    }
  }
}