* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvet, sans-serif;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, a, p {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}


